@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Classic Flyrod Database</h1>
</div>
@*<a href="../Players">Players Modification</a>
*@
<br />
<a class="custom-navbar-blue" asp-area="" asp-controller="Flyrods" asp-action="Index">Flyrods</a>
<br />
<a class="custom-navbar-blue" asp-area="" asp-controller="Makers" asp-action="Index">Makers</a>
<br />
<br />
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>